/* About Us Body */
.aboutUsBody {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: justify;
    background: url('../PIC/aboutUsBackground.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.aboutUsMain {
    margin: 150px auto 110px auto;
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    position: relative;
}

.aboutUsContent h1, .aboutUsContent h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6CB4EE;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.aboutUsAuthors {
    text-align: center;
}

.aboutUsAuthorTag {
    font-weight: bold;
}

.aboutUsContent section {
    background: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.aboutUsContent h2::after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: #6CB4EE;
    margin: 10px auto;
}
