.vis_1_axis path,
.vis_1_axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.vis_1_line {
    fill: none;
    stroke-width: 2;
}

.vis_1_tooltip {
    position: absolute;
    text-align: center;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    padding: 5px;
    pointer-events: none;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vis_1_legend {
    font-size: 12px;
}

.vis_1_legend rect {
    stroke-width: 2;
}

svg {
    display: block;
}
