/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-size: 1.3em;
}

header .cta-button {
    background-color: #6ac06b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background: url('../PIC/hero-background.jpg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    margin-top: 110px;
    font-size: 3em;
}

.hero .explore-button {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.hero .explore-button:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.visualize {
    padding: 40px;
    text-align: center;
    background-color: #f2f2f2; /* Fallback color */
    color: #333;
}


.visualize h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.visualize .image-card {
    display: inline-block;
    width: 500px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}

.visualize .image-card:hover {
    transform: scale(1.05);
}

.visualize .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Visualization Containers */
.visualization-container {
    margin: 30px 0;
    text-align: center;
}

.visualization-box {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    background-color: #e6e6e6; /* Light gray background for visibility */
    border: 2px dashed #ccc; /* Dashed border to indicate placeholder */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #777;
}

/* FAQ Section */
.faq {
    padding: 40px;
    background-color: #e0effb;
    ;
}

.faq h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.faq details {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}

.faq summary {
    font-weight: bold;
    cursor: pointer;
}

/* Footer */
footer {
    background: #6ac06b;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
}
