/* test.css */
#choropleth{
    display: flex;
    justify-content:space-between;
    padding: 10px 20px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Choropleth to hold both map and control panel with fixed dimensions */
#choropleth-map {
    width: 600px;
    height: 500px;
    background-color: #e0e0e0;
    border: 1px solid #ddd;
}

/* Styling for the result section */
#choropleth-result {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: flex-start;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Result header (Year and Country Name) */
#result-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#result-header span{
    font-size: 1.6em;
}

#result-header input[type="range"] {
    width: 350px;
    text-align: center;
    font-size: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

#country-display {
    font-weight: bold;
}

/* Main data sections layout */
#data-sections {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

#left-data-section .data-section{
    width: 270px;
}

#right-data-section .data-section{
    width: 230px;
}

#left-data-section,
#right-data-section {
    padding-inline: 5px;
}

/* Styling for individual data sections */
.data-section {
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.data-section h3 {
    margin-top: 0;
    font-size: 1.1em;
    color: #333;
}

.data-section p {
    margin: 5px 0;
    font-size: 0.80em;
}

.data-section .legend-item p{
    margin: 5px 0;
    font-size: 1.1em;
}

#map-legend {
    border-left: 5px solid black;
}

#map-legend h3 {
    margin-top: 0;
    font-size: 1em;
    color: #333;
    font-weight: bold;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    margin: 1px 0;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Specific color for pollution data */
#pollution-section {
    border-left: 5px solid #E74C3C;
}

/* Specific color for health data */
#health-section {
    border-left: 5px solid #3498DB;
}

/* Specific color for economy data */
#economy-section {
    border-left: 5px solid #F1C40F;
}

/* Specific color for energy data */
#energy-section {
    border-left: 5px solid #2ECC71;
}


#Map {
    width: 600px; /* Fixed width for the map */
    height: 400px; /* Fixed height for the map */
    background-color: #b3d9ff; /* Map background color */
}

/* Control Panel layout */
#control-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #e3dfdf;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    width: 600px;
    height: 100px;
}

/* Make control items display in a row */
.control-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Display control-year items in a column layout */
.control-year {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: center items within the column */
}

.control-item label {
    font-weight: bold;
    font-size: 0.9em;
}

.control-item input {
    font-size: 0.6em;
}

.control-item button {
    margin-left: 5px;
    margin-right: 5px;
}

/* Remove arrows for number input */
.control-item #year-search {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none; /* Other browsers */
    text-align: center;
}

.control-item #year-search::-webkit-outer-spin-button,
.control-item #year-search::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.control-item #country-search{
    margin-left: 5px;
}

/* Specific styling for the zoom control group */
.zoom-control {
    display: flex;
    align-items: center;
    gap: 3px;
}

#zoom-slider {
    width: 80px;
    height: 5px;
    cursor: pointer;
}

#zoom-in,
#zoom-out,
#country-search-button {
    width: 25px;
    height: 25px;
    font-size: 14px;
    padding: 0;
}

/* Tooltip styling */
.tooltip {
    font-size: 0.9em;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: opacity 0.2s ease-in-out;
}
